# See https://git-scm.com/docs/gitignore

# OS and editor files
.DS_Store
**/.DS_Store
Thumbs.db
*~
*.sw[mnpcod]
.idea
/.vscode/*
!/.vscode/extensions.json

# Logs
*.log
log.txt
npm-debug.log*

# Temporary files
.tmp
*.tmp
*.tmp.*

# Build output and dependencies
/dist
/coverage
/node_modules
stats.html

# Environment files
.env
.env.development
.env.production
