* {
  font-family: 'Krona One', sans-serif !important;
  text-transform: none;
  color: var(--color-text-default);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, a {
  color: var(--color-text-lilac);
}

/* Background picture */
body {
  background-image: url('/images/needypet_background.png');
  background-size: cover;
  background-position: center;
}

strong {
  color: var(--color-text-lilac);
}

ion-content, ion-page {
  --ion-background-color: transparent;
}

ion-toolbar, ion-tab-bar {
  --background: var(--color-primary-pink);
}

ion-button {
  border-radius: 25px;
  color: var(--color-text-lilac);
}

a {
  text-decoration: none;
}

h2 {
  font-size: 28px;
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* Custom content-wrapper class to push content down */
.content-wrapper {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

.mobile-content-wrapper {
  margin-top: 30px;
  padding: 20px;
}

/* Global error message */
.error-message {
  color: var(--color-error-message);
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
}

/* Global buttons for PageLanding, PageRegister, PageLogin*/
.action-button {
  margin-top: 10px;
  width: 100%;
  box-shadow: 0.5px 0.5px 0.5px var(--color-drop-shadow-pink);
  margin: 20px 0px 0px 0px;
  --border-radius: 25px !important;
  --background: var(--color-login-button-and-border);
  --border: 2px solid var(--color-login-button-and-border);
  --color: var(--color-text-lilac);
}

.primary-action-button {
  --background: var(--color-login-button-and-border) !important;
}

.secondary-action-button {
  --background: var(--color-create-account-button) !important;
}


/* Global button styling for PagePet, PageAddPet, PageProfile, PageEditProfile, PageHome */
.custom-button {
  --background: var(--color-button-pet-page);
  --border-radius: 20px;
  margin: 10px 8px;
  font-size: 0.85rem;
}

.custom-button:hover {
  --box-shadow: 0.5px 0.5px 0.5px var(--color-drop-shadow-pink);
}

/* Input field in PageRegister and PageLogin */
.login-register-field-item {
  --padding-start: 20px;
  --inner-border-width: 0;
  --inner-padding-end: 20px;
  --background: var(--color-login-input-background);
  --border-radius: 20px;
  margin-bottom: 15px;
}

.login-register-field-input {
  --placeholder-color: var(--color-text-default);
  --placeholder-font-style: italic;
  font-size: 0.85rem;
}

/* Global container element for PageLogin and PageRegister */
.login-register-container {
  max-width: 500px;
  margin: 5vh auto;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--color-login-background);
  border: 1px solid var(--color-login-button-and-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Over ride ionic primary button */
.ion-color-primary {
  --ion-color-base: var(--ion-color-pink) !important;
  --ion-color-base-rgb: var(--ion-color-pink-rgb) !important;
  --ion-color-contrast: var(--ion-color-pink-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-pink-shade) !important;
  --ion-color-tint: var(--ion-color-pink-tint) !important;
}


/* Mobile styles */
@media (max-width: 568px) {

  /* Button styling for PagePet, PageAddPet, PageProfile, PageEditProfile, PageHome */
  .custom-button {
    font-size: 0.75rem;
  }

}