body, h2, h3, p, li {
  font-family: 'Arial', sans-serif;
  color: #555555;
  line-height: 1.6;
}

h2 {
  color: #333333;
  font-size: 28px;
}

h3 {
  color: #333333;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px; /* Add padding to the top of the content wrapper to make room for the fixed header */
}


/* Over ride ionic primary button */
.ion-color-primary {
  --ion-color-base: var(--ion-color-pink) !important;
  --ion-color-base-rgb: var(--ion-color-pink-rgb) !important;
  --ion-color-contrast: var(--ion-color-pink-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-pink-shade) !important;
  --ion-color-tint: var(--ion-color-pink-tint) !important;
}