/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {

  /* My custom colors */
  --color-primary-pink: #FBCDE6;
  --color-card-background-lilac: #F2DDFE;
  --color-card-border: #DB9DFF;

  /* My custom font colors */
  --color-text-default: #705E76;
  --color-text-lilac: #9248AD;

  /* My custom pet page colors */
  --color-button-pet-page: #FEADF6;
  --color-status-done: #BCE3FF;
  --color-pet-need-background: #F6EDFF;

  /* My custom login page colors */
  --color-login-background: #FFEEF5;
  --color-login-input-background: #FFE0F1;
  --color-login-input-border: #FFBFE2;
  --color-login-button-and-border: #FBCDE6;

  /* My custom landing page create account button color */
  --color-create-account-button: #FFE0F1;

  /* My custom error & valid message colors */
  --color-error-message: #ff3b30;
  --color-valid-message: #008c81;

  /* My custom shadow color */
  --color-drop-shadow-pink: #E4BDD2;
}

html {
  /* For more information on dynamic font scaling, visit the documentation:
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}