/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {

  /* My custom colors */
  --color-primary-pink: #FBCDE6;
  --color-card-background-lilac: rgb(254, 239, 249);
  --color-card-border: rgb(178, 110, 150);

  /* My custom font colors */
  --color-text-default: #705E76;
  --color-text-lilac: rgb(178, 77, 137);

  /* My custom button colors */
  --color-button-pet-page: #f3c3e3;
  --form-secondary-button-bg-color: rgb(204, 179, 216);
  --color-login-button-and-border: #FBCDE6;
  --color-create-account-button: #FFE0F1;

  /* My custom pet page colors */
  --color-status-done: #BCE3FF;
  --color-pet-need-background: #F6EDFF;

  /* My custom login page colors */
  --color-login-background: #FFEEF5;
  --color-login-input-background: #FFE0F1;
  --color-login-input-border: #FFBFE2;

  /* My custom error & valid message colors */
  --color-error-message: #ff3b30;
  --color-valid-message: #008c81;

  /* My custom shadow color */
  --color-drop-shadow-pink: rgba(178, 110, 150, 0.3);
}

html {
  /* For more information on dynamic font scaling, visit the documentation:
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}